.maker-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Cormorant Garamond', serif;
}

.maker-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: var(--text-color-primary-dark);
    text-align: center;
    margin-bottom: 2rem;
}
.maker-text{
    color: var(--text-color-primary-dark);

}

.maker-content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
}

.horse-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Change this to have 4 cards per row */
    gap: 2rem;
}


.horse-card {
    background-color: #fff;
    border: 3px solid #8b0000;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.horse-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.horse-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.horse-card h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    color: #8b0000;
    margin: 1rem;
}

.horse-card p {
    margin: 0 1rem 1rem;
    color: #5c3d2e;
}

.horse-price {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #8b0000;
}

.inquire-button {
    display: block;
    background-color: #8b0000;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
    margin: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.inquire-button:hover {
    background-color: #5c0000;
}

.timeline {
    background-color: #f8f0e5;
    padding: 1rem;
    border-radius: 10px;
}

.timeline h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #8b0000;
    margin-bottom: 1rem;
}

.timeline-event {
    margin-bottom: 1rem;
    padding-left: 20px;
    border-left: 2px solid #8b0000;
    position: relative;
}

.timeline-year {
    font-weight: bold;
    color: #8b0000;
}

.timeline-description {
    margin-top: 0.5rem;
}

@media (max-width: 1024px) {
    .horse-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust to 2 cards per row on smaller screens */
    }
}

@media (max-width: 768px) {
    .horse-grid {
        grid-template-columns: 1fr; /* Adjust to 1 card per row on very small screens */
    }
}