

.navbar {
    background-color: #00274d;
    padding: 15px 20px;
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo-container {
    flex: 0 1 auto;
}

.logo {
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    color: #dac0a3;
    text-decoration: none;
    font-weight: 400;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

.nav-links.left {
    justify-content: flex-end;
    margin-right: 20px;
}

.nav-links.right {
    justify-content: flex-start;
    margin-left: 20px;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}

.nav-links li a:hover {
    color: #ebdbc4;
}

.contact-us {
    background-color: #c5a27a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .nav-container {
        flex-wrap: wrap;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        order: 3;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links.left, .nav-links.right {
        margin: 0;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
        order: 1;
    }

    .logo-container {
        order: 2;
        flex: 1;
        text-align: center;
    }

    .contact-us {
        order: 4;
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }
}